@import "node_modules/spectre.css/src/spectre";

// Export spectre colors as css variables. May be useful.
:root {
  --spectre-primary-color: $primary-color;
  --spectre-secondary-color: $secondary-color;
  --spectre-dark-color: $dark-color;
  --spectre-light-color: $light-color;
  --spectre-success-color: $success-color;
  --spectre-warning-color: $warning-color;
  --spectre-error-color: $error-color;
}

@media (min-width: $size-lg){
  .custom-masonry-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: masonry;
    width: 100%;
  }
}

@media (min-width: $size-sm) and (max-width: $size-lg){
  .custom-masonry-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    width: 100%;
  }
}

@media (min-width: $size-xs) and (max-width: $size-sm){
  .custom-masonry-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
    width: 100%;
  }
}

// Card colors
.card-body.card-success {
  border-top-style: solid;
  border-width: thick;
  border-color: $success-color;
}
.card-body.card-warning {
  border-top-style: solid;
  border-width: thick;
  border-color: $warning-color;
}
.card-body.card-error {
  border-top-style: solid;
  border-width: thick;
  border-color: $error-color;
}

// Small form-select
.input-group .form-select.form-select-sm {
  width: 100%;
}

// @media (max-width: $size-xl) {
//   body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.btn {
//     font-size: $font-size * 2;
//   }
//   .form-input {
//     height: $control-size * 2
//   }
// }
