{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, user-scalable=0;"/>
        <title>TDM - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom/custom-spectre.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/spectre-exp.css' %}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>
    <body class="plex">
        <header class="navbar bg-dark p-2 p-sticky p-top-0 z-1000">
            <section class="navbar-section m-2">
                <a class="text-light mr-2 h4" href="{% url 'todo:index' %}">To-Do Manager</a><span class="h4 mr-2">/ <a href="" class="text-light">{% block bar_title %}{% endblock %} {% block bar_addendum %}{% endblock %}</a></span>
            </section>
        </header>

        <div class="container mt-2">
            {% for message in messages %}
                <div class="toast toast-{{ message.tags | default:'primary' }} mb-2">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
    {% block js %}{% endblock %}
</html>
