{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, user-scalable=0;"/>
        <title>TDM - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/custom/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom/custom-spectre.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/spectre-exp.css' %}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>
    <body class="plex">
        <header class="navbar bg-dark p-2 p-sticky p-top-0 z-1000">
            <section class="navbar-section m-2">
                <a class="text-light mr-2 h4" href="/">To-Do Manager</a>
                <span class="h4 mr-2">
                    / <a href="" class="text-light">{% block bar_title %}{% endblock %} {% block bar_addendum %}{% endblock %}</a>
                </span>
            </section>

            <section class="navbar-section m-2">
                <div class="mx-2">
                    <a class="text-light" href="{% url 'todo:todo.list' list_context='any' %}">Todos</a>&nbsp;&nbsp;
                    {% for list in todo_lists %}
                        <a class="text-light" href="{% url 'todo:todo.list' list_context=list.url_key %}">{{list.short_name}}</a>&nbsp;&nbsp;/&nbsp;
                    {% endfor %}
                    <span class=""><a class="text-light" href="#">More...</a></span>
                    {# <a class="text-light btn btn-link" href="" %}>le jeu</a> #}
                </div>
                <div class="divider-vert"></div>
                <div class="mx-2">
                    <a class="text-light" href="{% url 'todo:abstract_timetables.list' %}">Timetables</a>
                </div>
                <div class="divider-vert"></div>
                <div class="mx-2">
                    <a class="text-light" href="{% url 'todo:firefox_config' %}">Config</a>
                </div>
                <div class="divider-vert"></div>
                <div class="mx-2">
                    {{user}}&nbsp;/&nbsp;<a class="text-light" href="{% url 'logout' %}">Logout</a>
                </div>
            </section>
        </header>

        <div class="container mt-2">
            {% for message in messages %}
                <div class="toast toast-{{ message.tags | default:'primary' }} mb-2">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
    {% block js %}{% endblock %}
</html>
