{% extends 'base_public.html' %}
{% load spectre_css %}

{% block title %}Login{% endblock %}
{% block bar_title %}Login{% endblock %}

{% block body %}
<div class="divider"></div>
<div class="columns col-gapless">
    <div class="column col-12 px-1">
        <form action="" method="post">
            <div class="card card-shadow mb-2">
                <div class="card-header">
                    <span class="h5 card-title"><i class="fas fa-sign-in-alt"></i> {{next}}</span>
                </div>
                <div class="card-body">
                    {% render_form form %}
                </div>
            </div>
            <div class="card card-shadow mb-2">
                <div class="card-body">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-link" value="Login">
                    <input type="hidden" name="next" value="{{next}}">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
