{% extends 'base.html' %}
{% load spectre_css %}

{% block title %}Todos - Firefox configuration{% endblock %}
{% block bar_title %}Config{% endblock %}

{% block body %}
<div class="columns col-gapless">
    <div class="column col-12 px-1">
        To view this app correctly on Firefox, please set <code>layout.css.grid-template-masonry-value.enabled</code> and <code>dom.forms.select.customstyling</code> to True in <a href="about:config">about:config</a>.
        And then, restart the browser!
    </div>
</div>
{% endblock %}
