{% extends 'base.html' %}
{% load spectre_css %}

{% block title %}Todos - Finish{% endblock %}
{% block bar_title %}Todos / Finish{% endblock %}

{% block body %}
<div class="divider"></div>
<form action="" method="post">
    <div class="columns col-gapless">
        <div class="column col-12 px-1">
            <div class="card card-shadow mb-2">
                <div class="card-header">
                    <span class="h5 card-title">{{obj}}</span>
                </div>
                <div class="card-body">
                    {% render_form form %}
                </div>
            </div>
            <div class="card card-shadow mb-2">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <a href="{% url 'todo:todo.show' pk=obj.pk list_context=list.url_key %}" class="btn btn-link">Back</a>
                        <input type="submit" class="btn btn-link" value="Finish">
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
