{% extends 'base.html' %}
{% load static %}

{% block title %}Todos - List{% endblock %}
{% block bar_title %}Todos / List{% endblock %}
{% block bar_addendum %}{% if list %}<span style="color: #{{list.hex_color}};">{{list.short_name}}</span>{% endif %}{% endblock %}

{% block body %}
    <div id="app">

        <a href="{% url 'todo:todo.new' list_context=list.url_key %}">
            <div class="btn btn-xl btn-link col-12">New todo</div>
        </a>

        <div class="divider"></div>

        {% if not all %}
            <a href="{% url 'todo:todo.all' list_context=list.url_key %}">
                <div class="btn btn-link col-12">(Show old todos)</div>
            </a>
        {% endif %}

        <div class="divider"></div>

        <div class="has-icon-left mx-1">
            <input v-model="searchtext" type="text" class="form-input input-lg" placeholder="Search">
            <i class="form-icon fas fa-search"></i>
        </div>

        <div class="divider"></div>

        {% if not qs.exists %}

            <div class="column empty">
                <div class="empty-icon">
                    <i class="fas fa-search"></i>
                </div>
                <p class="empty-title h5">
                    There is nothing {% if all %}to do at all.{% else %}recent to do.{% endif %}
                </p>
            </div>

        {% else %}

            <div v-if="nothing_remains" class="column empty">
                <div class="empty-icon">
                    <i class="fas fa-search"></i>
                </div>
                <p class="empty-title h5">
                    Your search returns no results.
                </p>
            </div>

            <div class="custom-masonry-container">
                {% for obj in qs.all %}
                    <div v-show="'{{obj.pk}}' in searched_titles" class="card card-shadow mb-2 mx-1">
                        <div class="card-image">
                            <a href="{% url 'todo:todo.show' pk=obj.pk list_context=list.url_key %}"><img src="" class="img-responsive"></a>
                        </div>

                        {% if obj.is_dialogue %}
                            <div class="card-body" v-bind:class="getDialogueColorForTodoPk({{obj.pk}})">
                                <h6>
                                    <form v-on:submit.prevent="submitDialogueState" method="post">
                                        <div class="input-group">
                                            <!-- little bit of dirty code... it's the easiest solution though ↓↓↓↓ -->
                                            <select name="dialogue_state" onchange="event.target.parentElement.lastElementChild.style.display = '';" class="form-select form-select-sm select-sm">
                                                {% for value, display, class in obj.DialogueState.better_choices %}
                                                    <option value="{{value}}" class="text-{{class}}" {% if obj.dialogue_state == value %}selected{% endif %}>{{display}}</option>
                                                {% endfor %}
                                            </select>
                                            <input type="hidden" name="pk" value="{{obj.pk}}"/>
                                            <!-- hmmm yess gimme a little more dirty code !!                      ↓↓↓↓ -->
                                            <input type="submit" name="submit" value="Submit" onclick="event.target.style.display = 'none';" style="display: none;" class="btn input-group-btn btn-sm"/> <!-- must stay last for dirty show-hide JS code to work -->
                                        </div>
                                    </form>
                                </h6>
                                <h6>
                                    {% if obj.list %}<i class="far fa-bookmark" style="color: #{{obj.list.hex_color}};"></i>{% endif %}
                                    {% if obj.urgency != '0_not' %}<i class="far fa-clock"></i>{% endif %}
                                    {% if obj.importantness != '0_not' %}<i class="far fa-flag"></i>{% endif %}
                                    {% if obj.could_do %}<i class="far fa-lightbulb"></i>{% endif %}
                                    {% if obj.todo_by_date %}to do by {{obj.creation_date | date:'SHORT_DATE_FORMAT'}}{% endif %}
                                    {% if obj.bumps.exists %}
                                        (+ {{obj.bumps.count}} bumps)
                                    {% endif %}
                                </h6>
                                <a href="{% url 'todo:todo.show' pk=obj.pk list_context=list.url_key %}" class=""><h5 class="card-title">{{obj.title}}</h5></a>
                                <ul>
                                    {% for item in obj.details.all %}
                                        <li class="card-text">{{item.detail_text | urlize}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <div class="card-body">
                                <h6>
                                    {% if obj.list %}<i class="far fa-bookmark" style="color: #{{obj.list.hex_color}};"></i>{% endif %}
                                    {% if obj.urgency != '0_not' %}<i class="far fa-clock"></i>{% endif %}
                                    {% if obj.importantness != '0_not' %}<i class="far fa-flag"></i>{% endif %}
                                    {% if obj.could_do %}<i class="far fa-lightbulb"></i>{% endif %}
                                    {{obj.creation_date | date:'SHORT_DATE_FORMAT'}} - {{obj.creation_date | timesince}} ago
                                    {% if obj.bumps.exists %}
                                        (+ {{obj.bumps.count}} bumps)
                                    {% endif %}
                                </h6>
                                <a href="{% url 'todo:todo.show' pk=obj.pk list_context=list.url_key %}"><h5 class="card-title">{{obj.title}}</h5></a>
                                <ul>
                                    {% for item in obj.details.all %}
                                        <li class="card-text">{{item.detail_text | urlize}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}


                    </div>
                {% endfor %}
            </div>

        {% endif %}

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/vue/vue.js' %}"></script>
    <script src="{% static 'js/vue-resource/vue-resource.js' %}"></script>
    <script type="text/javascript">
        const dialogue_states_for_list_resource = Vue.resource('{% url "todo:api.dialogue_states_for_list" %}');
        const dialogue_states_push_resource = Vue.resource('{% url "todo:api.dialogue_states_push" %}', {}, {}, { headers: {'X-CSRFToken': '{{csrf_token}}' } });
        const dialogue_states_color_map = Vue.resource('{% url "todo:api.dialogue_states_color_map" %}');

        const app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: () => ({
                searchtext: '',
                titles: {
                    {% for obj in qs.all %}
                        '{{obj.pk}}': '{{obj.searchtext | escapejs}}'
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                },
                dialogue_states: {},
                dialogue_states_color_map: {}
            }),
            mounted: function () {
                this.reloadDialogueStates();
                this.reloadDialogueStatesColorMap();
            },
            methods: {
                submitDialogueState: function (event) {
                    var select = event.target.elements.dialogue_state;
                    var dialogue_state = select.options[select.selectedIndex].value;
                    var pk = event.target.elements.pk.value;
                    dialogue_states_push_resource.save({
                        pk: pk,
                        dialogue_state: dialogue_state,
                    }).then(response => {
                        this.reloadDialogueStates();
                    });
                },
                reloadDialogueStates: function () {
                    dialogue_states_for_list_resource.get({
                        list: '{{list_context | escapejs}}',
                        all: {{all | yesno:"true,false"}}
                    }).then(response => {
                        this.dialogue_states = response.body;
                    });
                },
                reloadDialogueStatesColorMap: function () {
                    dialogue_states_color_map.get().then(response => {
                        this.dialogue_states_color_map = response.body;
                    });
                },
                getDialogueColorForTodoPk : function (todo_pk) {
                    return `card-${this.dialogue_states_color_map[this.dialogue_states[todo_pk]]}`;
                }
            },
            computed: {
                searched_titles: function() {
                    if(this.searchtext){
                        // This is unbelievably the best way to filter a dictionary in JS...
                        return Object.keys(this.titles).reduce((filtered, key) => {
                            if(this.titles[key].toLowerCase().includes(this.searchtext.toLowerCase())) {
                                filtered[key] = this.titles[key];
                            }
                            return filtered;
                        }, {});
                    } else {
                        return this.titles;
                    }
                },

                nothing_remains: function() {
                    // This is unbelievably the best way to check if a dictionary is empty in JS...
                    return Object.keys(this.searched_titles).length === 0;
                }
            }
        });
    </script>
{% endblock %}
