{% extends 'base.html' %}
{% load spectre_css %}

{% block title %}Todos - Edit/New{% endblock %}
{% block bar_title %}Todos / {% if obj %}Edit{% else %}New{% endif %}{% endblock %}
{% block bar_addendum %}{% if list %}<span style="color: #{{list.hex_color}};">{{list.short_name}}</span>{% endif %}{% endblock %}

{% block body %}
<div class="divider"></div>
<form action="" method="post">
    <div class="columns col-gapless">
        {% csrf_token %}
        <div class="column col-12 px-1">
            <div class="card card-shadow mb-2">
                <div class="card-header">
                    <span class="h5 card-title">{{obj | default:'New todo'}}</span>
                </div>
                <div class="card-body">
                    {% render_form_header form %}
                    {% for field in form.visible_fields %}
                        {% render_form_field field switch=True %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {{details_formset.management_form}}
        {% for f in details_formset %}
            <div class="card-column-flex-grow column col-xl-5 col-2 px-1">
                <div class="card card-shadow mb-2">
                    <div class="card-body">
                        {% render_form f %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="column col-12 px-1">
            <div class="card card-shadow mb-2">
                <div class="card-body">
                    <a href="{% if obj %}{% url 'todo:todo.show' pk=obj.pk list_context=list.url_key %}{% else %}{% url 'todo:todo.list' list_context=list.url_key %}{% endif %}" class="btn btn-link">Back</a>
                    <input type="submit" class="btn btn-link" value="Save">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
