{% extends 'base.html' %}
{% load spectre_css %}

{% block title %}Todos - Show{% endblock %}
{% block bar_title %}Todos / Show{% endblock %}
{% block bar_addendum %}{% if list %}<span style="color: #{{list.hex_color}};">{{list.short_name}}</span>{% endif %}{% endblock %}

{% block body %}
<div class="divider"></div>
<div class="columns col-gapless">
    <div class="column col-12 px-1">
        <div class="card card-shadow mb-2">
            <div class="card-header">
                <span class="h5 card-title">{{obj}}</span>
            </div>
            <div class="card-body">
                <dl>
                    <dt>List?</dt>
                    <dd>
                        {% if obj.list %}
                            Yes, in {{obj.list.name}} <i class="icon icon-bookmark" style="color: #{{obj.list.hex_color}};"></i>.
                        {% else %}
                            No.
                        {% endif %}
                    </dd>
                    <dt>Done ?</dt>
                    <dd>
                        {% if obj.done_date %}
                            Yes, on {{obj.done_date | date}}
                        {% elif obj.cancelled %}
                            No, and the todo is cancelled.
                        {% else %}
                            Not yet.
                        {% endif %}
                    </dd>
                    <dt>Tags</dt>
                    <dd>
                        {% for item in obj.tags.all %}
                            <a class="label">{{item.name}}</a>
                        {% endfor %}
                    </dd>
                    <dt>Important?</dt>
                    <dd>
                        {{obj.get_importantness_display}}
                    </dd>
                    <dt>Urgent?</dt>
                    <dd>
                        {{obj.get_urgency_display}}
                    </dd>
                    <dt>Dates</dt>
                    <dd>
                        Created {{obj.creation_date}} - {{obj.creation_date | timesince}} ago<br/>
                        {% if obj.todo_by_date %}
                            To do by {{obj.todo_by_date}} - in {{obj.todo_by_date | timeuntil}}
                        {% else %}
                            No deadline :)
                        {% endif %}
                    </dd>
                    <dt>Related</dt>
                    <dd>
                        <ul>
                            {% for item in obj.related_todos.all %}
                                <li><a href="{% url 'todo:todo.show' list_context=list.url_key pk=item.pk %}">{{item}}</a></li>
                            {% endfor %}
                        </ul>
                    </dd>
                    <dt>Details</dt>
                    <dd>
                        <ul>
                            {% for item in obj.details.all %}
                                <li>{{item.detail_text | urlize}}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                </dl
            </div>
        </div>
    </div>
    <div class="column col-12 px-0">
        <div class="card card-shadow mb-2">
            <div class="card-body">
                <a href="{% url 'todo:todo.list' list_context=list.url_key %}" class="btn btn-link">Back</a>
                <a href="{% url 'todo:todo.edit' pk=obj.pk list_context=list.url_key %}" class="btn btn-link">Edit</a>
                {% if not obj.done_date %}
                    <a href="{% url 'todo:todo.finish' pk=obj.pk list_context=list.url_key %}" class="btn btn-link">Finish</a>
                {% endif %}
                <button class="btn btn-link" type="button">Bump</button>
                <a href="{% url 'todo:todo.toggle_cancel' pk=obj.pk list_context=list.url_key %}" class="btn btn-link">{% if obj.cancelled %}Un-{% endif %}Cancel</a>
                <a href="{% url 'todo:todo.delete' pk=obj.pk list_context=list.url_key %}" class="btn btn-link">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
