{% extends 'base.html' %}
{% load spectre_css %}

{% block title %}Todos - Toggle cancel{% endblock %}
{% block bar_title %}Todos / Toggle cancel{% endblock %}

{% block body %}
<div class="divider"></div>
<div class="columns col-gapless">
    <div class="column col-12 px-1">
        <div class="card card-shadow mb-2">
            <div class="card-header">
                <span class="h5 card-title">{{obj}}</span>
            </div>
            <div class="card-body">
                Do you really want to {% if obj.cancelled %}un-{% endif %}cancel this todo?
            </div>
        </div>
        <div class="card card-shadow mb-2">
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <a href="{% url 'todo:todo.show' pk=obj.pk list_context=list.url_key %}" class="btn btn-link">Back</a>
                    <input type="submit" class="btn btn-link" value="{% if obj.cancelled %}Un-{% endif %}Cancel">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
